services: 
  
  database:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: database
    environment:
      - ACCEPT_EULA=true
      - MSSQL_SA_PASSWORD=Elias123#
    ports:
      - 1433:1433
  
  database-seed:
    depends_on: [ database ]
    build:
      context: ./db/
      dockerfile: Dockerfile
    container_name: database-seed
